* {
    margin: 0;
    padding: 0;
   }

html {
    box-sizing: border-box;
    position: relative;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

main {
    width: auto;
    margin: 0vh 17vw;
}

img {
    width: 100%;
}


header {
    width: 100vw;
    margin: 0px;
    background-color: #00e9c1;
}

.header {
    height: 38px;
    color: white;
    display: flex;
    align-items: center;
}

.header_text_right {
    text-decoration: underline;
}

.header_padding_left {
    padding-left: 20vw;
}

.container h1, h2, p {
   padding: 0 5vw;
}

.main_img {
    padding: 50px 0px;
}


h2 {
    margin-top: 40px;
}

.ragina_padding_left {
    padding: 30px 0px 30px 6vw;
    font-weight: 600;
}

.button_padding_left {
    padding-left: 4vw;
}

.vertical_line {
    border-left: 1px solid white;
    height: 20px;
    margin: 0px 40px;
}

#header_img {
    margin: 0vh 15vw;
}

#header_button {
    font-weight: 500;
    background-color: #00e9c1;
    color: white;
    height: 45px;
    width: 245px;
    border: none;
    font-size: 18px;
}

.container{
    z-index: 999;
    position: relative;
    background-color: white;
    margin-top: -230px;
}

.button_sticky {
    text-align: center;
    margin: 11vh 0px 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 91vh;
    z-index: 998;
    height: 100px;
}
 
#redirect_button {
    height: 200px;
    width: 50vw;
    border: none;
    border-radius: 50px;
    background-color: #f91212;
    font-size: 2.5vw;
    font-family: 'Roboto Medium', sans-serif;
    color: white;
    cursor: pointer;
    padding: 24px;
}

.bg_left_1::after {
    content: '';
    background: #fef8f5;
    clip-path: circle(50%);
    height: 170px;
    width: 170px;
    position: absolute;
    left: -30px;
    top: 888px;
    z-index: 1;
}

.bg_left_2::after {
    content: '';
    background: #fef8f5;
    clip-path: circle(50%);
    height: 170px;
    width: 170px;
    position: absolute;
    left: -30px;
    top: 3163px;
    z-index: 1;
}

.bg_left_3::after {
    content: '';
    background: #fef8f5;
    clip-path: circle(50%);
    height: 170px;
    width: 170px;
    position: absolute;
    left: -30px;
    top: 5484px;
    z-index: 1;
}

.bg_right_1::after {
    content: '';
    background: #fef8f5;
    clip-path: circle(50%);
    height: 210px;
    width: 210px;
    position: absolute;
    right: -60px;
    top: 1880px;
    z-index: 2;
}

.bg_right_2::after {
    content: '';
    background: #fef8f5;
    clip-path: circle(50%);
    height: 210px;
    width: 210px;
    position: absolute;
    right: -60px;
    top: 4580px;
    z-index: 2;
}

.article_header {
    color: rgba(245,27,27,255);
    margin: 35px 0px 10px 0px;
}

.article_text {
    color: #24242e;
}

.comment_section {
    padding: 85px 0px 0px 5vw;
    }

#commenti {
    font-weight: 600;
    background-color: #00e9c1;
    color: white;
    height: 45px;
    width: 155px;
    border: none;
    font-size: 24px;
}

.comment {
 position: relative;
 display: flex;
 flex-direction: row;
 align-items: center;
}

.comment::before{    
    content: '';
    border-bottom: 1px solid #00e9c1;
    width: 100%;
    position: absolute;
    top: 0;
}

.comment::after {
  content: '★★★★★';
  height: 20px;
  width: 20px;
  color: yellow;
  position: absolute;
  right: 60px;
  top:0;
  padding-top: 7px;
}

.comment_avatar {
    width: 10vw;
    height: auto;
    padding: 10px 10px 10px 0px;
}

.comment_text {
    max-width: 660px;
    padding: 10px;
}

.comment_name {
color: #f91212;
z-index:1;
}

.comment_shape {
    padding: 20px 0px;
}

#comment_shape_first {
    padding: 28px 0px;
}

.button_space {
    z-index: 0;
    height: 140px;
    width: auto;
}

.footer_text {
    display: flex;
    align-items: center;
    color: #1f1f1f;
}

.footer_text::before {    
    content: '';
    border-bottom: 1px solid #00e9c1;
    width: 100%;
    margin-bottom:40px;
}

#vertical_line_footer {
    border-left: 1px solid black;
    height: 20px;
}

.left {
    position: absolute;
    left: 20vw;
}

.right {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20vw;
    text-decoration: underline;
    text-decoration-color: #a8a8a8;
}

.privacy {
    padding-right: 30px;
}

.termini {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: #00e9c1;
}

/* pop-up */


#myBtn,
#myBtnPrivacy,
#myBtnDisclaimer {
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #2e2e2e; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.76); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 30px 70px 70px 70px;
    border: 1px solid #888;
    border-radius: 60px;
    width: 60%; /* Could be more or less, depending on screen size */
  }

  .modal-content p {
      padding: 0px;
  }
  

  .termini_header,
  .privacy_header {
    color: rgba(245,27,27,255);
    font-size: 24px;
    margin: 35px 0px 0px 0px;
}

ul {
    padding-left: 20px;
}

li {
    color: rgba(245,27,27,255);
    padding: 50px 0px 0px;
}

li span {
    color: #24242e;
}

p a {
    text-decoration: underline;
    color: #f91212;
}

/*    */

/* adaptivity  */

@media only screen and (max-width: 1095px) {
    .modal-content {
        width: 80%;
        padding: 30px;
        text-align: left;
    }
}

@media only screen and (max-width: 958px) {
    .bg_left_1::after,
    .bg_left_2::after,
    .bg_left_3::after 
    {
        height: 13vw;
        width: 13vw;
}   .bg_right_1::after,
    .bg_right_2::after {
    height: 17vw;
    width: 17vw;
}
}

@media only screen and (max-width: 884px) {
    .right, .left {
        position: static; 
        padding-bottom: 10px;
        }
        .footer_text {
            padding: 0px;
        }
    .footer_text {
        display: flex;
        flex-direction: column-reverse;
    }  main {
       margin: 0vh 10vw;
   }
}
@media only screen and (max-width: 575px) { .bg_left_1::after,
    .bg_left_2::after,
    .bg_left_3::after 
    {
        height: 15vw;
        width: 15vw;
}   .bg_right_1::after,
    .bg_right_2::after {
    height: 20vw;
    width: 20vw;
    }
}

@media only screen and (max-width: 475px) {
    .privacy {
        padding: 5px;
        text-align: left;
    }
    .termini {        
                padding: 5px;
        text-align: right;
    } #vertical_line_footer {
        display: none;
    } 
}

@media only screen and (max-width: 400px) {
    .vertical_line {
        margin: 0px 10px;
    } 
}


@media only screen and (max-width: 335px) {
    .header_padding_left {
        padding-left: 12vw;
    } 
}


@media only screen and (max-width: 1051px) {
    #button_sticky {
        margin-bottom: 20vh;
    }
}

@media only screen and (max-width: 880px) {
#button_sticky {
        margin-bottom: 15vh;
} .comment_avatar {
    width: 15vw;
}
}

@media only screen and (max-width: 745px) {
    #button_sticky {
        top: 88vh;
    }
 #redirect_button {
        height: 80px;
}
}

@media only screen and (max-width: 580px) {
    #button_sticky {
        top: 92vh;
    }
 #redirect_button {
        height: 65px;
        font-size: 3vw;
        width: 60vw;
} .comment_avatar {
    width: 25vw;
}
}

@media only screen and (max-width: 425px) {
#button_sticky {
        margin-bottom: 19vh;
}  #redirect_button {
    font-size: 3.3vw;
}  #redirect_button {
    height: 50px;
}
}