@media only screen and (max-width: 810px) {
    .modal-content {
        width: 80%;
        padding: 30px;
    }
}


@media only screen and (max-width: 1148px) {
    .comment_text {
        top: 1vh;
    }
}

@media only screen and (max-width: 1050px) {
    .comment_shape {
        padding: 6vh 0px 6vh 0px;
    } .comment_text {
        top: 0vh;
    }
}

@media only screen and (max-width: 838px) {
    
}