@media only screen and (max-width: 1095px) {
    .modal-content {
        width: 80%;
        padding: 30px;
        text-align: left;
    }
}


@media only screen and (max-width: 1148px) {
    .comment_text {
        top: 1vh;
}
}

@media only screen and (max-width: 1050px) {
    .comment_shape {
        padding: 6vh 0px 6vh 0px;
    } .comment_text {
        top: 0vh;
}
}

@media only screen and (max-width: 884px) {
    .right, .left {
        position: static; 
        padding-bottom: 10px;
        }
        .footer_text {
            padding: 0px;
        }
    /* } .right {
        padding-bottom: 10px; */
    .footer_text {
        display: flex;
        flex-direction: column-reverse;
    }  footer {
       margin: 0vh 10vw;
   }
    .comment_shape_last {
        padding: 1vw 0px 1vw 0px;
    }
}

@media only screen and (max-width: 684px) {
    .comment_section {
        padding: 0px;
    }
    .comment-text {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 475px) {
    .privacy {
        padding: 5px;
        text-align: left;
    }
    .termini {        
                padding: 5px;
        text-align: right;
    } #vertical_line_footer {
        display: none;
    }
}